* 
{
    box-sizing: border-box;
}

body

{
    display: grid;
    background-image: url(img/chef.jpg);
    
    display: flex table-row;
    background: rgb(8,7,23);
    background: radial-gradient(circle, rgba(8,7,23,1) 0%, rgba(1,1,1,1) 100%);
    
}

.homeheader

{
    border: none;
    background: none;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 150px;
    width: 100%;
    font-size: 42px;
    
    padding: 25px;

}   

.links

{  
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50%;
    display: flexbox;
    margin: 40px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 84%, rgba(0,212,255,1) 100%);
    height: 90px;
    width: 90px;
}   

.chefboy 

{
    display: block;
    block-size: 100%;
    border-top-right-radius: 290px;
    border-bottom-right-radius: 290px;
    align-items: start;
    width: 50%;
    height: 100%;
    margin-left: -10px;

}

.linksinbutton
{
    color: rgb(256 256 256);
    font-weight: bold;
    
    
}

.recipe-links 

{
    display: flex;
    justify-content: center;

}

.header
{

    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}