*
{
    box-sizing:border-box;
    
}

body

{

    margin: -5px;
    overflow-x: hidden;
    background-color: #151515 ;
    
} 

.banner

{
    margin: -10px -10px;
    width: 105%;
    
    background-position: -1px;
    transition: 250ms;
}

.banner:hover
{
    transition: all 250ms ease-in;
    transform: scale(1.2);
}


.recipe-links 

{
    margin: 25px;
    display: flex;
    

}

.links
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: large;
    color: black;
    border: 2px transparent #ffffff;
    text-decoration: none;
    background-color: #151515;
    margin: 5px;
    height: 400px;
    border-radius: 8px;
    flex: 1;
    transition: 250ms;
    
}

.links:hover
{
    transition: all .2s ease-in-out;
    background:50%;
    
    transform: rotate3d(1, 10, -0.1, -20deg )
}

    
.links:first-child
{
    background-image: url(img/lasagna.jpg);
    background-size: cover;
}

.links:nth-child(2)
{
    background-image: url(img/Chef-Salad.jpg);
    background-size: cover;
}

.links:nth-child(3)
{
    background-size: cover;
    background-image: url(img/baconandeggs.jpg);
}

